.cards{
    margin-top: 20px;
    margin-left: 20px;
    width:300px;
    height:250px;
    background-color: greenyellow;
    border:2px solid black;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s;
}
.cards:hover{
    transition:0.1s;
    background-color: aqua;
    cursor: pointer;
    box-shadow: 0px 0px 30px white;
}
.image{
    margin-right: -15px;
    width:298px;
    height:150px;
}
.data{
    padding:10px 10px;
}